Repository markovmodel/PyEMMA, pull requests merged in 2018-06, with the labels that each got.

#1315 Coordinates code clean up and massive testing
  conftest.py
  pyemma/coordinates/clustering/interface.py
  pyemma/coordinates/clustering/kmeans.py
  pyemma/coordinates/clustering/tests/test_assign.py
  pyemma/coordinates/clustering/tests/test_cluster.py
  pyemma/coordinates/data/_base/datasource.py
  pyemma/coordinates/data/_base/iterable.py
  pyemma/coordinates/data/_base/transformer.py
  pyemma/coordinates/data/data_in_memory.py
  pyemma/coordinates/data/feature_reader.py
  pyemma/coordinates/data/featurization/misc.py
  pyemma/coordinates/data/fragmented_trajectory_reader.py
  pyemma/coordinates/data/h5_reader.py
  pyemma/coordinates/data/numpy_filereader.py
  pyemma/coordinates/data/py_csv_reader.py
  pyemma/coordinates/data/sources_merger.py
  pyemma/coordinates/data/util/frames_from_file.py
  pyemma/coordinates/data/util/reader_utils.py
  pyemma/coordinates/tests/test_coordinates_iterator.py
  pyemma/coordinates/tests/test_datainmemory.py
  pyemma/coordinates/tests/test_fragmented_trajectory.py
  pyemma/coordinates/tests/test_readers.py
  pyemma/coordinates/tests/test_sources_merger.py
  pyemma/coordinates/tests/util.py
  pyemma/coordinates/transform/nystroem_tica.py
  pyemma/coordinates/util/patches.py
  pyemma/util/contexts.py
Labels: coordinates, on-hold

#1317 Refactor plots2d
  .gitignore
  doc/source/CHANGELOG.rst
  pyemma/plots/__init__.py
  pyemma/plots/plots1d.py
  pyemma/plots/plots2d.py
  pyemma/plots/tests/test_plots1d.py
  pyemma/plots/tests/test_plots2d.py
Labels: enhancement, plots

#1323 HMM submodel fix
  doc/source/CHANGELOG.rst
  pyemma/msm/estimators/bayesian_hmsm.py
  pyemma/msm/estimators/maximum_likelihood_hmsm.py
  pyemma/msm/models/msm.py
  pyemma/msm/tests/test_bayesian_hmsm.py
  pyemma/msm/tests/test_hmsm.py
Labels: bug

#1159 [MLMSM] use pi from msmtools tmatrix estimation
  pyemma/msm/estimators/maximum_likelihood_msm.py
  pyemma/msm/tests/test_msm.py
Labels: enhancement, msm

#1326 [msm tests] hard-code submodel test dtraj
  pyemma/msm/tests/test_bayesian_hmsm.py
  pyemma/msm/tests/test_hmsm.py
Labels: bug
