Repository markovmodel/PyEMMA, pull requests merged in 2018-03, with the labels that each got.

#1264 Histogram plot
  doc/source/CHANGELOG.rst
  pyemma/plots/__init__.py
  pyemma/plots/plots1d.py
  pyemma/plots/tests/test_plots1d.py
  pyemma/plots/timescales.py
Labels: enhancement, plots

#1267 [ML-HMSM] fix the setting of nstates (got overriden by MSM.nstates.fset)
  pyemma/msm/estimators/maximum_likelihood_hmsm.py
  pyemma/msm/tests/test_its.py
Labels: bug, msm

#1268 [serialization] write arrays as one large chunk with lz4 comp
  pyemma/_base/serialization/pickle_extensions.py
Labels: enhancement
